$white: #fff;
$white-border: rgba(255, 255, 255, .125);
$dark-bg: rgb(49, 49, 49);
$dark-card-bg: rgb(77, 77, 77);
$contrast-color: #222;

$light-blue: #2fa1c3;
$light-blue-trans: #2fa1c375;
$med-blue: #1e7c99;
$med-blue-trans: #1e7c9975;
$dark-blue: #165568;
$dark-blue-trans: #16556875;

$fs-brief: 1.1em;
